{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    

{% endblock titulo %}
 

{% block contenido %}
<div class="container position-relative">
    <div class="row justify-content-center">
        <div class="col-xl-6">
            <div class="text-center">
                <h3>{{titulo}}</h3>
            </div>
        </div>
    </div>
</div> 
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Nivel de tensión</th>
            <th>Edificio</th>
            <th>Gabinete</th>
            <th>Ip</th>
            <th>Mascara subred</th>
            <th>Default gateway</th>
        </tr>
    </thead>
    <tbody>
            {% for eq in equipo %}
                <tr>
                    <td>{{eq.nombre}}</td>
                    <td>{{eq.descripcion}}</td>
                    <td>{{eq.nivel_tension}}</td>
                    <td>{{eq.edificio}}</td>
                    <td>{{eq.gabinete}}</td>
                    <td>{{eq.ip}}</td>
                    <td>{{eq.mask}}</td>
                    <td>{{eq.defGw}}</td>
                </tr> 
            {% endfor %}  
    </tbody>
</table>
        

{% endblock contenido %}
    